.notification-mensaje {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
}

.mensaje-counter {   
    position: absolute;
    top: -14px;
    left: -12px;
    font-size: 12px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 10px Verdana;
    font-weight: bold;
}